@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

html, body {
	padding: 0;
	margin: 0;
}

body, .main {
	box-sizing: border-box;
	min-height: 100vh;
}

html {
	font-size: 62.5%;
	color: #474a54;
	background: #232323;
	height: 100vh;
}

@media (max-width: $mobile-break) {
	.sidebar, header > form {
		display: none;
	}

	.sidebar h6 {
		font-size: 1.4em;
	}

	.sidebar a {
		padding: 10px 0;
	}

	body .main {
		margin: 45px 0 0 0;
	}
}

body {
	font-size: 1.8em;
	line-height: 1.6;
	font-weight: 400;
	font-family: 'Ubuntu', sans-serif;
	background: #fbfbfb;

	&.nav-open {
		overflow: hidden;

		.sidebar,
		header > form {
			display: block;
		}

		header {
			bottom: 0;
		}
	}
}

table {
	border: 1px solid #E1E1E1;
	margin: 0 0 20px 0;
	border-collapse: collapse;
}

th, td {
	border: 1px solid #ccc;
	padding: 10px;
	font-size: .9em;
	text-align: left;
}

th {
	background: #f7f7f7;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	font-weight: 300;
}

h1 { font-size: 4.0rem; line-height: 1.2;	letter-spacing: -.1rem;}
h2 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 3.0rem; line-height: 1.3;	letter-spacing: -.1rem; }

h4 {
	font-size: 2.4rem;
	line-height: 1.35;
	letter-spacing: -.08rem;
	margin: 0 0 5px 0;
}

h5 {
	font-size: 1.8rem;
	line-height: 1.5;
	letter-spacing: -.05rem;
}

p {
	margin-top: 0;
}

h3 a {
	text-decoration: none;
	color: #474a54;
}

h3 a:hover {
	text-decoration: none;
	color: #474a54;
}
a {
	color: #1EAEDB; text-decoration: none;
}

a:hover {
	color: #0FA0CE; text-decoration: underline;
}

pre {
	white-space: pre-wrap;
	font-size: 1em;
	margin: 22px 0;
	word-wrap: break-word;
}

dl {
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	padding: 0 0 20px 0;
	margin: 0 0 20px 0;
}

dl dt {
	width: 30%;
	float: left;
	font-weight: bold;
	position: relative;
	top: 20px;
}

dl dd {
	margin-left: 30%;
	padding-left: 15px;
	margin-top: 20px;
}

dl dd + dd {
	margin-top: 0;
}

dl dd:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
}

.sidebar h6 {
	line-height: 1em;
	font-size: 1.5rem;
	letter-spacing: 1px;
	color: #888;
	font-weight: bold;
}

.sidebar {
	padding: 20px 20px 0 20px;
	white-space:nowrap;
	overflow-y: auto;

	section {
			padding: 10px 0;
	}

	ul {
		padding: 0 0 0 10px;
		margin: 0;
		list-style: none;
	}

	h6 {
		padding: 0;
		margin: 0 0 5px 0;
	}

	a {
		color: #777;
		text-decoration: none;
		font-size: .90em;
		display: block;
		width: 100%;
		text-overflow: ellipsis;
		overflow: hidden;
		padding: 2px 0;

		&.active {
			color: #2196F3;
			text-decoration: none;
		}
	}
}

.endpoint {
	font-size: 10px;
	padding: 0 2px;
	position: relative;
}

h3 .endpoint {
	padding: 4px 6px;
	font-size: 19px;
}

.endpoint.put {
	color: #7E57C2;
	&:after {
		content: "PUT";
	}
}

.endpoint.delete {
	color: #FF7043;
	&:after {
		content: "DELETE";
	}
}

.endpoint.get {
	color: #66BB6A;
	&:after {
		content: "GET";
	}
}

.endpoint.post {
	color: #42A5F5;
	&:after {
		content: "POST";
	}
}

.main {
	margin: 0 0 0 210px;
	border-left: 1px solid #eee;
	h6 {
		font-size: 1.01em;
		padding: 0 0 6px 0;
		margin: 0;
	}

	.description {
		color: #aaa;
		margin-top: -11px;
	}

	@media (max-width: $mobile-break) {
		margin: 0;
	}
}

hr {
	border: 0;
	border-top: 1px solid #ddd;
	margin: 20px 0;
}

.error, .warning, .info, .success	{
	border-left: 5px solid #FD0;
	padding: 10px 15px;
	margin-left: -20px;
	margin-right: -15px;
	background-color: #FAFAFA;
	border-radius: 2px;
}

.info {
	border-color: #56ADEC;
}

.error {
	border-color: #F20;
}

.success {
	border-color: #6c0;
}

.doc-content {
	border: 0;
	border-bottom: 1px solid transparent;
	border-image: linear-gradient(to right,	#eee 0%,#eee 60%,#333333 60%);
	-moz-border-image: -moz-linear-gradient(left,	#eee 0%, #eee 60%, #333333 60%);
	-webkit-border-image: -webkit-linear-gradient(left,	#eee 0%,#eee 60%,#333333 60%);
	border-image-slice: 1;
	padding: 30px 0;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(left,	#ffffff 0%, #ffffff 60%, #232323 60%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(60%,#ffffff), color-stop(60%,#232323)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,	#ffffff 0%,#ffffff 60%,#232323 60%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,	#ffffff 0%,#ffffff 60%,#232323 60%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,	#ffffff 0%,#ffffff 60%,#232323 60%); /* IE10+ */
	background: linear-gradient(to right,	#ffffff 0%,#ffffff 60%,#232323 60%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#232323',GradientType=1 ); /* IE6-9 */
}

.doc-content:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
}

.doc-content:last-child {
	border: 0;
}

.left-docs {
	width: 60%;
	float: left;
	padding: 0 50px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;		/* Firefox, other Gecko */
	box-sizing: border-box;				 /* Opera/IE 8+ */

	pre {
		 border: 0px;
		 box-shadow: 0 0 0 1px #eee;
		 border-radius: 3px;
		 padding: 10px;
	}
}

.right-code {
	width: 40%;
	float: left;
	padding: 0 50px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;		/* Firefox, other Gecko */
	box-sizing: border-box;				 /* Opera/IE 8+ */

	code {
		color: #fff;
	}

	pre {
		background: black;
		padding: 10px;
		border-radius: 5px;
	}

	.code-viewer .languages li a:hover {
		border-color: #555;
	}
}

.code-viewer {
	.languages {
		padding: 0;
		margin: 0 0 5px 0;
		list-style: none;
		font-size: .9em;

		li {
			display: inline-block;

			a {
				display: block;
				padding: 5px 10px;
				z-index: 100;
				border: 1px solid transparent;

				&:hover {
					border-color: #eee;
					border-radius: 5px;
				}

				&.active:hover {
					border-color: transparent;
				}
			}
		}
	}

	a {
		text-decoration: none;
		color: #aaa;

		&:hover {
			color: #222;
		}


	}

	pre {
		margin: 0 0 20px 0;
	}
}

.code-viewer a.active, .code-viewer a.active:hover, .right-code .code-viewer a.active:hover {
	color: #1EAEDB;
}


.right-code .code-viewer a:hover {
	color: #fff;
}

@media (max-width: 1000px) {
	.right-code {
		float: none;
		width: 100%;
		background: #232323;
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.left-docs {
		float: none;
		width: 100%;
	}

	.doc-content {
		background: #fff;
		padding-bottom: 0;
		border-image: none;
		-moz-border-image: none;
		-webkit-border-image: none;
		border-color: #eee;
	}
}

header {
	height: 100%;
	max-height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	overflow-x: hidden;
	z-index: 1;
	background-color: $nav-background-color;

	h1 {
		height: $nav-header-height;
		box-sizing: border-box;
		background-color: $brand-colour;
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 920 1750' x='0px' y='0px'%3E %3Cpath style='fill: rgba(255, 255, 255, 0.1)' d='M889.72,1137.55l-2.91-0.75l-364.39,282.94l-0.7-0.9l-0.51,0.11l-94.77-451.5l-32.51-15.75l-16.73-8.11l0,0.68 l-1.46,0l0-1.39l-1.89-0.92l-112.41-54.47l-0.29,1.03l-1.41-0.37l0.37-1.31l-34.14-16.54l-98.56-47.76l-0.59,0.81l-1.16-0.88 l0.42-0.57L11.43,766.33l-0.25,0.2l-0.9-1.15l102.87-79.98l0.08-0.1l0.02,0.02l116.68-90.72l-0.18-0.34l1.3-0.66l0.05,0.09 l100.5-78.14l-0.07-0.32l0.65-0.14l42.3-32.89l-0.15-54.54l-0.59,0.29l-0.64-1.31l1.23-0.6l-0.01-4.54l-0.33-122.47l-0.99,0.18 l-0.28-1.43l1.27-0.23l-0.4-147.49l-0.87-0.16l0.28-1.43l0.58,0.1l-0.35-127.48l-0.13-0.06l0.64-1.31L489.97,76.8l0.73,0.19 l-0.04,0.14l132.63,65.11l0.33-0.45l1.16,0.88l-0.16,0.22l114.21,56.07l0.45-0.35l0.72,0.93l47.89,23.51l2.76-1.36l0.56,4.61 l-3.32-1.63L571.52,330.88L375.95,482.93l0.66,239.95l51.12,243.57l222.53,107.83l236.23,60.93l2.27-1.77 M375.8,425.34l17.25-8.47 l36.13-127.75l-53.73,9.66L375.8,425.34z M551,241.05l38.19-52.2l-123.83-22.27l-34.13,120.68l98.99-17.81L551,241.05z M532.3,269.09l151.34-27.22l37.63-29.25l-130.48-23.47L532.3,269.09z M303.38,733.9l-2.36-4.48l-44.18-83.78L182.5,747.25 l40.78,36.46l52.69,47.11L303.38,733.9z M277.18,831.91l56.95,50.93L375.69,920l-0.13-49.23l-71.19-135L277.18,831.91z M303.96,731.86l41.93-148.25l-9.74-46.39L257.8,644.33L303.96,731.86z M304.94,733.73l9.55,18.12l61.05,115.78l-0.39-144.6 l-16.9-80.53l-11.71-55.81L304.94,733.73z M375.21,211.79l0.23,85.51l54.17-9.74l34.29-121.23l-88.87-15.98L375.21,211.79z M430.78,288.83l-17.88,63.21L394.81,416l44.01-21.6l90.15-123.23L430.78,288.83z M287.76,898.62l87.99,42.64l-0.05-19.29 l-91.37-81.71l-7.59-6.78l-14.88,52.59L287.76,898.62z M174.26,843.62l86.26,41.8l15-53.03l-93.89-83.95l-53.34,72.91L174.26,843.62 z M113.18,687.22L12.71,765.33l55.69,26.99l58.56,28.38l53.58-73.24l-34.83-31.14L113.18,687.22z M230.62,595.92l-116.27,90.4 l63.02,56.36l4.03,3.61l74.67-102.08l-7.47-14.17L230.62,595.92z M331.94,517.15l-100.15,77.86l25.25,47.88l78.71-107.59l-1.71-8.14 L331.94,517.15z M333.22,516.15l2.02,9.64l1.66,7.92l34.65-47.37L333.22,516.15z M337.31,535.63l9.43,44.95l26.67-94.3 L337.31,535.63z M347.39,583.66l27.74,132.16l-0.62-228.04L347.39,583.66z M374.7,21.83l0.35,127.02l89.27,16.06l24.61-87 L374.7,21.83z M490.25,78.56l-22.26,78.7l-2.24,7.91l124.39,22.37l10.23-13.99l22.04-30.12L490.25,78.56z M623.74,144.09 l-12.29,16.8l-19.71,26.95l131.07,23.58l14.73-11.45L623.74,144.09z M739,200.67l-13.3,10.34l-0.96,0.74l58.14,10.46L739,200.67z M723.19,212.96l-25.33,19.69l-11.14,8.66l97.03-17.45L723.19,212.96z M782.89,225.5l-98.64,17.74l-107.06,83.23L782.89,225.5z M631.68,282.26l49.48-38.47l-150.1,27l-89.41,122.22l129.1-63.37L631.68,282.26z M565.06,334.05l-125.28,61.5l-45.94,62.8 l-14.96,20.44L565.06,334.05z M425.31,412.87l11.65-15.93l-42.69,20.96l-13.66,48.3l-3.58,12.67L425.31,412.87z M392.51,418.76 l-16.71,8.2l0.01,4.72l0.12,45.68L392.51,418.76z M377.21,941.96l21.37,10.36l24.14,11.7l-45.56-40.74L377.21,941.96z M377.15,921.31l34.83,31.15l12.57,11.24l-47.53-90.14L377.15,921.31z M376.63,730.07l0.38,140.33l48.29,91.59L376.63,730.07z M806.29,1197.48l75.8-58.86l-28.56,11.47l-25.6,10.28l14.96,7.25l-0.64,1.31l-16.16-7.83l-124.76,50.1l40.56,36.27L806.29,1197.48z M522.43,1146.18l58.88,111.66l52.71-21.17l64.61-25.95l-75.11-67.17L522.43,1146.18z M621.92,1142.14l-115.78-103.53l-46.8-12.07 l62.33,118.2l7.06-0.18L621.92,1142.14z M700.14,1210.12l124.19-49.87l-42.89-20.78l-155.8,4.04L700.14,1210.12z M679.7,1295.77 l61.03-47.39l-40.9-36.57l-117.85,47.32l42.09,79.82L679.7,1295.77z M522.48,1417.85l1.83-1.42l98.6-76.56l-42.28-80.19 l-84.25,33.83L522.48,1417.85z M496.08,1292.06l83.87-33.68l-59.14-112.16l-55.04,1.43L496.08,1292.06z M465.46,1146.2l54.58-1.42 l-62.61-118.74l-18.03-4.65l0.36-1.41l16.74,4.32l-27.63-52.4L465.46,1146.2z M458.42,1024.79l45.35,11.7l-74.14-66.29 L458.42,1024.79z M431.46,969.87l75.38,67.41l136.26,35.15L431.46,969.87z M649.76,1075.65l-140.54-36.25l114.83,102.68l154.53-4.01 L649.76,1075.65z M656.92,1077.5l124.84,60.5l51.97-1.35l47.7-1.24L656.92,1077.5z M784.62,1139.38l41.54,20.13l56.45-22.67 L784.62,1139.38z'/%3E %3C/svg%3E"), linear-gradient(to top right, #524ad0 10%, #A28DD0);
		color: #fff;
		margin: 0;
		font-size: 1.7rem;
		line-height: 0.8;
		letter-spacing: 0;
		font-weight: 600;
		text-indent: 0;
		@include display-flex();
		@include flex-direction(row);
		@include align-items(center);
		border-bottom: 1px solid rgba(0, 0, 0, 0.075);

		.logo {
			display: flex;
			flex-direction: row;
			text-align: center;
			text-decoration: none;
			padding: 1rem;
			color: white;
			line-height: 1;
		}

		img {
			height: 26px;
			margin-left: 18px;
		}
	}

	.open-nav {
		background-image: url(/images/menu.svg);
		background-color: transparent;
		background-repeat: no-repeat;
		background-size: 100%;
		border: 0;
		position: absolute;
		border-radius: 2px;
		cursor: pointer;

		&:focus {
			outline: none;
			background-color: rgba(0, 0, 0, 0.05);
		}

		&:hover {
			background-color: rgba(0, 0, 0, 0.1);
		}
	}

	@media (min-width: $mobile-break) {
		background-color: transparent;
		width: $nav-width;
		right: auto;
		bottom: auto;

		.open-nav {
			display: none;
		}

		h1 {
			box-shadow: inset -10px 0 10px -10px rgba(0, 0, 0, 0.1);
		}
	}
}

#search-input {
	-webkit-appearance: none;

	display: block;
	margin: 0;
	padding: 10px 20px;
	width: 100%;
	box-sizing: border-box;

	border: 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.075);

	font-size: 1.5rem;
	font-weight: 600;
	line-height: 1.8;

	&:focus {
		outline: none;
		border-left: 5px solid $brand-colour;
		padding-left: 15px;
	}
}

.search-page {
	max-width: 800px;
	margin: 0 0 0 50px;
	padding: 50px 20px 0 20px;
}

#search-results {
	margin: 0;
	padding: 0;

	li {
		list-style: none;
		margin: 0;
		padding: 0;

		h4 {
			font-size: 2rem;
		}

		p {
			line-height: 1.5;
		}
	}
}

.copyright {
	text-align: center;
	font-size: .6em;
	margin: 30px 0 0 0;
}
